---
apiVersion: storage.k8s.io/v1beta1
kind: StorageClass
metadata:
  name: {{ gluster_k8s_storageclass_name }}
provisioner: kubernetes.io/glusterfs
# If it could be resolved, could be improved to:
# resturl: "http://heketi.gluster.svc.cluster.local:8080"
parameters:
  resturl: "{{ gluster_k8s_storageclass_resturl }}"
  restuser: "{{ gluster_k8s_storageclass_restuser }}"
  restuserkey: "{{ gluster_k8s_storageclass_restuserkey }}"
